@font-face {
    font-family: 'lunaregular';
    src: url('./fonts/luna-webfont.woff2') format('woff2'),
         url('./fonts/luna-webfont.woff') format('woff'),
         url('./fonts/luna.ttf');
    font-weight: normal;
    font-style: normal;
}
html{
	font-family: 'arial';
	font-size: 16px;
}
h1{
	color: black;
	font-size: 24px;
	font-family: 'lunaregular';
}
h2{
	color: black;
	font-family: 'Lobster',cursive;
}

#hero{
	background: url('./fond.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 1%;
}
nav{
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center;
	padding: 20px;
}
#bandeau{
	margin-top: 10%;
	margin-bottom: 10%;
	background-color: rgba(255, 255, 255, 0.5);
}
#contenu{
	text-align: center;
	padding: 2%;
}
#contenu a{
	color: red;
	border: 1px solid red;
	border-radius: 15px;
	padding: 15px;
	transition: ease 1s;
}
#contenu a:hover{
	color: white;
	background-color: rgba(178, 32, 19, 0.8);
}
#contenu img{
	transition: 0.2s;
}
#contenu img:hover{
	transform: rotate(360deg) scale(1.1);
}
#apropos{
	display: flex;
}
#apropos_image{
	padding: 20px;
	flex: 1;
}
#apropos_image img{
	flex: 1;
	max-width: 100%;
}
#apropos_texte{
	padding: 20px;
	flex: 2;
	text-align: justify;
	font-size: 1.9vw;
}
#services{
	display: flex;
	background-color: #666;
	color: white;
	padding: 20px;
	text-align: center;
}
.services_item p{
	text-align: justify;
	padding: 20px;
}
a{
	color: white;
	text-decoration: none;
	padding: 20px;
	transition: 0.5s;
}
a:hover{
	color: red;
}
*{
	margin: 0;
	padding: 0;
}
@media screen and (max-width: 1170px){
	#apropos{
		flex-direction: column;
	}
	#services{
		flex-direction: column;
	}
	nav a{
		display: block;
		padding: 10px;
	}
	#apropos_texte{
		font-size: 2.5vw;
	}
}
footer{
	display: flex;
	justify-content: center;
}
footer a{
	color: black;
}
footer a:hover{
	color: #e74c3c;
}
.social{
	padding: 20px;
}
